streamlit
google-generativeai
langchain-google-genai
langchain-community
pymupdf
kagglehub
emoji
pandas
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-aiplatform
sentence-transformers
faiss-cpu
langchain
google-search-results
huggingface-hub
llama-cpp-python
sympy
joblib
streamlit-lottie
